<h1>用户详情</h1>
<div class="col-md-4 widget" >
<p style="margin: 20px 0">昵称：{{user.nick_name}}</p>
<img ng-src="{{user.head_sculpture}}" height="110px" width="110px" style="" class="img-circle"/>
<p style="margin: 20px 0">邮箱：{{user.email}}</p>
<p style="margin: 20px 0">地址：{{user.address}}</p>
<p style="margin: 20px 0">其他信息：{{user.other_info}}</p>
<p style="margin: 20px 0">个人介绍：{{user.introduction}}</p>
<p style="margin: 20px 0">创建时间：{{user.created_at}}</p>
<p style="margin: 20px 0">角色：{{user.status}}</p>
</div>
